/target
/classes
/checkouts
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
data/
stdout
.lsp/
.clj-kondo/
.calva/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
