# Clojure
.cpcache/
.lein-*
.nrepl-port
.clj-kondo/.cache
.lsp/.cache
.clj-kondo/

# IDE
.idea/
*.iml
.calva/
.lsp/
.vscode/

# Build
target/
data/
test-*

# OS
.DS_Store
Thumbs.db

# doc codox
docs/api/
