{:paths     ["src" "resources"]
 :mvn/repos {"jgit-repository" {:url "https://repo.eclipse.org/content/groups/releases/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :deps      {org.clojure/clojure               {:mvn/version "1.11.1"}
             org.clojure/data.json             {:mvn/version "2.4.0"}
             org.slf4j/slf4j-simple             {:mvn/version "2.0.9"}
             clj-jgit/clj-jgit                 {:mvn/version "1.0.2"
                                                :exclusions  [org.eclipse.jgit/org.eclipse.jgit.gpg.bc]}
             clucie/clucie                     {:mvn/version "0.4.2"}
             environ/environ                   {:mvn/version "1.2.0"}
             middlesphere/clj-compress         {:mvn/version "0.1.0"}
             talltale/talltale                 {:mvn/version "0.4.3"}
             org.eclipse.jgit/org.eclipse.jgit {:mvn/version "6.8.0.202311291450-r"}}
 :aliases   {:run     {:ns-default chrondb.core
                       :exec-fn    chrondb.core/-main}
             :test    {:extra-paths ["test"]
                       :extra-deps  {io.github.cognitect-labs/test-runner 
                                    {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                     :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
                       :exec-fn cognitect.test-runner.api/test
                       :main-opts ["-m" "cognitect.test-runner"]}
             :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
                     :ns-default build}
             :depstar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}}
             :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                       :exec-fn hf.depstar/uberjar
                       :exec-args {:aot true
                                  :jar "chrondb.jar"
                                  :main-class "chrondb.core"
                                  :sync-pom true}}
             :coverage {:extra-paths ["test"]
                        :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
                        :main-opts ["-m" "cloverage.coverage"
                                   "--src-ns-path" "src"
                                   "--test-ns-path" "test"
                                   "--ns-regex" "chrondb.*"
                                   "--test-ns-regex" "chrondb.*-test"]}
             :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.12.15"}
                                 jonase/eastwood {:mvn/version "1.4.0"}}
                    :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"]}}}
